<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Error</title>
</head>
<body>

<div>
    <div style="display: flex; justify-content: flex-end;">
        <form th:action="@{/}" method="GET">
            <input type="submit" value="Accueil"/>
        </form>
        <form th:action="@{/app-logout}" method="POST">
            <input type="submit" value="Logout"/>
        </form>
    </div>
</div>

<h3 th:text="${title}"></h3>

<p th:text="${message}"></p>
</body>
</html>   